ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFF;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FFFFFF;
}

.navbar{
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index:1;
}

  
    
.newsfeed_icon{
    height:30px;
    width:30px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 15px; 
    padding-right: 20px; 
    text-decoration: none;
    background-color: white;
}
    
.searchbar{
    border:0;
    border-color: darkgrey;
    margin-left:300px;
    height:28px;
    width:160px;
    margin-top: 13px; 
    text-align: center; 
    border-radius: 8%;
    background-color:#F3F3F3
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    padding: 0; 
}   

.postbox{
    width: 80%;
    margin-top: 70px;
    margin-left:auto;
    margin-right:auto;
}

.photo{
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    position: absolute;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.profilepic{
    border-radius: 50%;
    height:170px;
    width:170px;
    right:0;left:0;
    top:0;
    bottom:0;
    margin: auto;
    position: absolute;'
    
}

.followbutton{
    margin:auto;
    display: block;
    position: relative;
    top:230px;
    height:25px;
    width:75px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile_description{
    width:50%;
    height:90%;
    display:inline-block;
    position: relative;
    padding-top:10px;
    padding-right:30px;
    overflow:auto;
}

.number{
    height: 100%;
    width:30%;
    text-align: center;
    display: inline-block;
}

.postbutton{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:30px;
    width:125px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.posts{
    width:30%;
    height:0;
    position: relative;
    display: inline-block;
    padding-bottom:30%;
    overflow:hidden;
    margin:15px;
}

a img :hover {box-shadow: white;background-color: white;border: 0px;text-decoration: none;}
a {text-decoration: none;}


.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.profileCard{
    text-align:center;
    background-color:#f1f1f1;
    border-radius:7%;
    margin:5px;
    margin-top:10px;
    width:7vw; 
    display:inline-block;
    cursor: pointer;
    overflow:auto;
}

.profileCard:hover {
    opacity: 0.5;
}