ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFF;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FFFFFF;
}

.navbar{
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index:1;
}

.postbox{
    width: 80%;
    margin-top: 70px;
    margin-left:auto;
    margin-right:auto;
}


.posts{
    width:30%;
    height:0;
    position: relative;
    display: inline-block;
    padding-bottom:30%;
    overflow:hidden;
    margin:15px;
}

.postpic{
    width:55%;
    height:100%;
    display:inline-block;
    overflow: hidden;
    position: relative;
}

    
.photo{
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    position: absolute;
    cursor: pointer;
}    
    
.postdescription{
    width:43.5%;
    height:100%;
    background-color:white;
    display:inline-block;
}
    
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    padding: 0; 
}    
    
.newsfeed_icon{
    height:30px;
    width:30px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 15px; 
    padding-right: 20px; 
    text-decoration: none;
    background-color: white;
}
    
.searchbar{
    border:0;
    border-color: darkgrey;
    margin-left:300px;
    height:28px;
    width:160px;
    margin-top: 13px; 
    text-align: center; 
    border-radius: 8%;
    background-color:#F3F3F3
}
    
.profilepic{
    height:60px;
    float:left;
    width:60px;
    border-radius:50%;
    display:inline-block;
}    
    
.price_desc{
    font-size: 12px;
    color: darkgrey;
}    

.price_amount{
    font-size: 12px;
    padding-right: 5px
}    
    
.post_icon{
    height:30px;
    width:30px;
    margin-right: 15px; 
    cursor: pointer;
    display: inline-block;
}   


.loadbutton{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    display: block;
    height:30px;
    width:125px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
}

.postbutton{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:30px;
    width:125px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}



a img :hover {box-shadow: white;background-color: white;border: 0px;text-decoration: none;}
a {text-decoration: none;}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}